@mixin label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;

  &::first-letter {
    text-transform: uppercase;
  }
}

@mixin input {
  width: 100%;
  height: 35px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  box-shadow: var(--light-sadow);
  padding: 0 5px;
  font-size: 18px;
  color: #000;

  &::placeholder {
    color: var(--light-grey);
  }
}

@mixin error {
  font-size: 14px;
  line-height: 16px;
  min-height: 30px;
  color: var(--briht-red);
  word-break: break-word;

  &::first-letter {
    text-transform: uppercase;
  }
}
